# API y Servidor Web
fastapi
uvicorn
starlette
pydantic

# Base de Datos
psycopg2-binary
sqlalchemy

# Herramientas de Data Science
pandas
numpy

# Scraping y APIs
yfinance
requests
beautifulsoup4

# Monitoreo y Sistema
psutil

# Fechas y Tiempo
python-dateutil
pytz

# Utilidades
python-dotenv
tabulate

# Visualización (si aplica para generar gráficos estáticos)
matplotlib
seaborn